---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const speakers: CollectionEntry<"speaking">[] = (
  await getCollection("speaking")
)
  .filter((speaker) => !speaker.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_SPEAKING_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <img src="/professional-headshot.jpg" alt="Blake Burch" class="rounded-full w-48 h-48 ml-4 mb-4" />
      <h1 class="animate font-semibold text-black dark:text-white">
        Hey there! 👋 I'm Blake.
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                Whether you already know me, or want to get a better idea of who I am, this website serves as a central hub
                for everything related to my life.  I kept it purposefully simple. Function over form.
                </p>
                <p>
                Since 2024, I share my work, thoughts, and ideas here. My goal is to be more open and share more freely - to get out of my head and into the world. 
                At the same time, I want to prioritize making deeper connections both locally and globally.
               
              </p>
                Hopefully, you'll find something here that interests you. If you do, please reach out! It would make my day.
              </p>
              <p>
              <li> Want to learn more <Link href="about/">about me</Link>?</li>
              <li>Want to know what I'm up to <Link href="now/">now</Link>?</li>
              <li>Want to explore my <Link href="blog/">thoughts</Link>?</li>
              <li>Want to know what I've <Link href="projects/">worked on</Link>?</li>
              <li>Want to hear me <Link href="speaking/">talk</Link> about something interesting?</li>
            </p>

            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent Speaking Engagements
            </h2>
            <Link href="/speaking"> See all engagements </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              speakers.map((speaker) => (
                <li>
                  <ArrowCard entry={speaker} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email.
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>